.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  padding: 26px 154px;
  max-width: 1440px;
  margin: 0 auto;
}

.gallery-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 calc(33.333% - 20px);
  max-width: calc(33.333% - 20px);
  width: 376px;
  height: 208px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.gallery-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.basicLightbox {
  background: rgba(46, 47, 66, 0.8);
}
